:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
table {
    border-collapse: collapse;
    margin: .8335em 0;
    table-layout: fixed;
    width: 100%
}

th {
    border-bottom: 1px solid #b7b9bb;
    font-family: Open Sans,sans-serif;
    text-align: left
}

td, th {
    padding: .8335em 0
}

td {
    border-bottom: 1px solid #f4f6f9
}

td, th, tr {
    vertical-align: middle
}

#nav-wrapper {
    background: #fff;
    border-bottom: 1px solid #f4f6f9;
    max-height: 80px;
    max-width: 1680px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000
}

.navbar {
    background: #fff;
    border-radius: 0;
    margin: 0 auto
}

    .navbar .menu {
        display: flex;
        position: relative
    }

        .navbar .menu.minimal {
            justify-content: space-between
        }

ul.menu > li {
    display: flex;
    height: 79px;
    text-align: center
}

    ul.menu > li span.change-icon {
        display: inline-block;
        width: 12px
    }

        ul.menu > li span.change-icon > .svg-inline {
            transition: transform .2s cubic-bezier(.2,.42,.98,.61)
        }

    ul.menu > li:hover span.change-icon > .svg-inline {
        transform: rotate(-180deg)
    }

    ul.menu > li > a {
        color: #fff;
        color: #3c4858;
        cursor: pointer;
        display: inline-flex;
        flex: 1;
        flex-direction: column;
        font-size: min(1vw,14px);
        justify-content: center;
        padding: 20px 18px;
        position: relative;
        text-decoration: none
    }

        ul.menu > li > a .logo.adroll {
            height: 15px;
            margin-bottom: -2px;
            width: auto
        }

        ul.menu > li > a:hover {
            color: #00aeef;
            text-decoration: underline
        }

            ul.menu > li > a:hover.dropdown {
                background: #fff;
                cursor: default;
                text-decoration: none
            }

            ul.menu > li > a:hover.cta {
                text-decoration: none
            }

    ul.menu > li:nth-child(6) {
        margin-right: auto
    }

    ul.menu > li:last-child a.cta {
        margin: 15px
    }
